* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: top;
}

a, button {
  transition: all .2s ease;
}