//fonts
$main-ff: "Josefin Sans", sans-serif;
$scndry-ff: "Aleo", serif;
//font-size
$base-size: 16;
//color
$main-col: #fff;
$scndry-ttl-col: #fefefe;
$text-col: #e8e8e8;
$input-col: #999999;
//background-color
$header-bgc: #5474fd;
$input-bgc: #fff;
$steps-bgc: #333333;
$footer-bgc: #232323;
//btn
$bgc-btn-hov: #496bfe;